<div class="relative inline-block text-left">
  <!-- Trigger -->
  <div (click)="toggle()">
    <ng-content select="[trigger]"></ng-content>
  </div>

  <!-- Dropdown Menu -->
  @if (isOpen) {
    <div
      class="absolute right-0 z-50 mt-3 w-64 origin-top-right rounded-lg bg-white dark:bg-card shadow-xl ring ring-black ring-opacity-10 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
    >
      <div class="py-2" role="none">
        @for (item of items; track item.label) {
          <button
            type="button"
            [class]="getItemClass(item)"
            role="menuitem"
            (click)="onItemClick(item)"
          >
            @if (item.icon) {
              <span class="mr-4 text-2xl">{{ item.icon }}</span>
            }
            <span class="text-base font-medium">{{ item.label }}</span>
          </button>
        }
      </div>
    </div>
  }
</div>
