:host {
  display: block;
}

/* Print styles */
@media print {
  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }

  .print\:border-0 {
    border: 0 !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  .print\:mb-4 {
    margin-bottom: 1rem !important;
  }

  .print\:border-b {
    border-bottom-width: 1px !important;
  }

  .print\:border-t-0 {
    border-top-width: 0 !important;
  }

  .print\:border-l-0 {
    border-left-width: 0 !important;
  }

  .print\:border-r-0 {
    border-right-width: 0 !important;
  }

  .print\:rounded-none {
    border-radius: 0 !important;
  }

  .print\:px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .print\:px-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }

  .print\:bg-white {
    background-color: white !important;
  }

  .print\:break-inside-avoid {
    break-inside: avoid !important;
  }

  /* Ensure proper page breaks */
  @page {
    margin: 1cm;
  }

  /* Hide scrollbars in print */
  body {
    overflow: visible !important;
  }
}

.font-signature {
  font-family: 'Brush Script MT', cursive;
}
