<div class="profile-page">
  <!-- Back Button -->
  <button (click)="goBack()" class="back-btn">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 010-1.06l7.5-7.5a.75.75 0 111.06 1.06L9.31 12l6.97 6.97a.75.75 0 11-1.06 1.06l-7.5-7.5z" clip-rule="evenodd" />
    </svg>
    Back
  </button>

  <!-- Profile Header -->
  <div class="profile-header">
    <div class="profile-avatar">{{ userInitials }}</div>
    <h1 class="profile-name">
      {{ authService.currentUserSignal()?.first_name }} {{ authService.currentUserSignal()?.last_name }}
    </h1>
    <span class="profile-role">{{ roleDisplay }}</span>
  </div>

  <!-- Profile Details -->
  <div class="details-card">
    <div class="detail-row">
      <div class="detail-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
          <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
        </svg>
      </div>
      <div class="detail-content">
        <span class="detail-label">Email</span>
        <span class="detail-value">{{ authService.currentUserSignal()?.email || 'Not set' }}</span>
      </div>
    </div>

    <div class="detail-row">
      <div class="detail-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="detail-content">
        <span class="detail-label">Username</span>
        <span class="detail-value">{{ authService.currentUserSignal()?.username || 'Not set' }}</span>
      </div>
    </div>

    <div class="detail-row">
      <div class="detail-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="detail-content">
        <span class="detail-label">First Name</span>
        <span class="detail-value">{{ authService.currentUserSignal()?.first_name || 'Not set' }}</span>
      </div>
    </div>

    <div class="detail-row no-border">
      <div class="detail-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="detail-content">
        <span class="detail-label">Last Name</span>
        <span class="detail-value">{{ authService.currentUserSignal()?.last_name || 'Not set' }}</span>
      </div>
    </div>
  </div>

  <!-- Edit Profile Button -->
  <button class="edit-btn">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
    </svg>
    Edit Profile
  </button>
</div>
